<div class="col-10 offset-1 about">
	<h1>About Ideas for Devs</h1>

	  <p>
    "Ideas for Devs" was built by <a target="_blank" href="https://github.com/MJoubes">Gage N</a> as a whimsical way for people to pitch ideas about what they wanted software and computers to do for them.
  </p>
  <br />
  <p>
    Gage is currently working tward becoming a web dev through Vanderbilt’s coding bootcamp. This program has laid strong foundations for his success in the role of development.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gage Nevins</h2>
      <br />
      <p>
        Gage Nevins has experience across several disciplines but has always had an aptitude for problem solving. His personal and professional projects range from culinary arts to microcontroller programming.
      </p>
    </div>
  </div>
  <br class="clear" />

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />