<h2>
	<span> Idea / No. <%= @quote.id %></span>
	Here's a <u>great</u> idea!
</h2>


<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />